[neopixel extruder_light]
pin: EBB:gpio15
chain_count: 3
# color_order: GRBW, GRBW, GRBW
color_order: GRBW
initial_RED: 0.0
initial_GREEN: 0.2
initial_BLUE: 0.0
initial_WHITE: 0.0

#######################
# LED Effects Statics #
#######################
[led_effect set_logo_leds]
leds:
    neopixel:extruder_light (1)
autostart: false
layers:
    static         0  0     top        (0.3,  0.0, 0.0, 0.0)

[led_effect set_nozzle_leds]
leds:
    neopixel:extruder_light (2,3)
autostart: false
layers:
    static         0  0     top        (1.0,  1.0, 1.0, 1.0)

[gcode_macro extruder_leds_on]
gcode:
    SET_LED_EFFECT EFFECT=set_logo_leds
    SET_LED_EFFECT EFFECT=set_nozzle_leds

[gcode_macro extruder_leds_off]
gcode:
    SET_LED_EFFECT EFFECT=set_logo_leds STOP=1
    SET_LED_EFFECT EFFECT=set_nozzle_leds STOP=1

[gcode_macro status_ready]
gcode:
    SET_LED_EFFECT EFFECT=set_logo_leds
    SET_LED_EFFECT EFFECT=set_nozzle_leds

[gcode_macro status_homing]
gcode:
    