## Raspberry Pi - FAN 6
[temperature_fan RPi_fan]
pin: PD15
kick_start_time: 0.5
max_power: 1.0
min_temp: 0
max_temp: 60
target_temp: 45.0
sensor_type: temperature_host
control: pid
pid_Kp: 2.0
pid_Ki: 5.0
pid_Kd: 0.5
pid_deriv_time: 2.0


[fan_generic  Bottom_Fan_1]
pin: PD8
max_power: 1.0








# [temperature_fan Bottom_fan_1]
# pin: PD8
# kick_start_time: 0.5
# max_power: 1.0
# min_temp: 0
# max_temp: 60
# target_temp: 45.0
# sensor_type: temperature_host
# control: pid
# pid_Kp: 2.0
# pid_Ki: 5.0
# pid_Kd: 0.5
# pid_deriv_time: 2.0

# [temperature_fan Bottom_fan_2]
# pin: PD9
# kick_start_time: 0.5
# max_power: 1.0
# min_temp: 0
# max_temp: 60
# target_temp: 45.0
# sensor_type: temperature_host
# control: pid
# pid_Kp: 2.0
# pid_Ki: 5.0
# pid_Kd: 0.5
# pid_deriv_time: 2.0