## Chamber Lighting - HE2 Connector (Optional)
[neopixel caselight]
pin: PB10
chain_count: 10
color_order: GRB
initial_RED: 0.5
initial_GREEN: 0.0
initial_BLUE: 0.0








# pwm:true
# shutdown_value: 0
# value:0
# cycle_time: 0.001