[neopixel caselight]
pin: PB0
chain_count: 25
color_order: GRB
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0

[led_effect set_caselight]
leds:
    neopixel:caselight (1)
autostart: false
# frame_rate: 24
layers:
    static         0  0     top        (0.3,  0.0, 0.0, 0.0)

[gcode_macro set_caselight_leds_on]
gcode:
    SET_LED_EFFECT EFFECT=set_caselight
    

[gcode_macro set_caselight_leds_off]
gcode:
    SET_LED_EFFECT EFFECT=set_caselight STOP=1
    
